<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bookmall.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.bookmall.pojo.Product" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="category_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="subtitle" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="book_image" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="descr" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="stock" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="book_condition" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, category_id, title, subtitle, book_image, descr, price, stock, status, create_time, 
    update_time, book_condition
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mmall_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByTitle" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from mmall_product
    where MATCH (title) AGAINST (#{title,jdbcType=VARCHAR} IN BOOLEAN MODE)
  </select>
  <select id="selectBySubtitle" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from mmall_product
    where MATCH (subtitle) AGAINST (#{subtitle,jdbcType=VARCHAR} IN BOOLEAN MODE)
  </select>
  <select id="selectByDesc" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from mmall_product
    where MATCH (descr) AGAINST (#{descr,jdbcType=VARCHAR} IN BOOLEAN MODE)
  </select>
  <select id="selectByPrice" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mmall_product
    where price >= #{arg0,jdbcType=NUMERIC} and price &lt; #{arg1,jdbcType=NUMERIC}
  </select>
  <select id="selectByStatus" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from mmall_product
    where status = #{status,jdbcType=INTEGER}
  </select>
  <select id="selectByBookCondition" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mmall_product
    where book_condition = #{book_condition,jdbcType=VARCHAR}
  </select>
  <select id="selectByAttributes" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mmall_product
    where MATCH (title) AGAINST (#{arg0,jdbcType=VARCHAR} IN BOOLEAN MODE) and
    MATCH (subtitle) AGAINST (#{arg1,jdbcType=VARCHAR} IN BOOLEAN MODE) and
    price >= #{arg2,jdbcType=NUMERIC} and price &lt; #{arg3,jdbcType=NUMERIC} and
    status = #{arg4,jdbcType=INTEGER} and book_condition = #{arg5,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mmall_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bookmall.pojo.Product" >
    insert into mmall_product (id, category_id, title, 
      subtitle, book_image, descr, 
      price, stock, status, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{subtitle,jdbcType=VARCHAR}, #{bookImage,jdbcType=VARCHAR}, #{descr,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{stock,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      now(), now(), #{book_condition,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bookmall.pojo.Product" >
    insert into mmall_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="subtitle != null" >
        subtitle,
      </if>
      <if test="bookImage != null" >
        book_image,
      </if>
      <if test="descr != null" >
        descr,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="bookImage != null" >
        #{bookImage,jdbcType=VARCHAR},
      </if>
      <if test="descr != null" >
        #{descr,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        now(),
      </if>
      <if test="updateTime != null" >
        now(),
      </if>
      <if test="book_condition != null" >
        #{book_condition,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bookmall.pojo.Product" >
    update mmall_product
    <set >
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="bookImage != null" >
        book_image = #{bookImage,jdbcType=VARCHAR},
      </if>
      <if test="descr != null" >
        descr = #{descr,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = now(),
      </if>
      <if test="book_condition != null" >
        book_condition = #{book_condition,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bookmall.pojo.Product" >
    update mmall_product
    set category_id = #{categoryId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      book_image = #{bookImage,jdbcType=VARCHAR},
      descr = #{descr,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      stock = #{stock,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now(),
      book_condition = #{book_condition,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getAllBooks" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List"/>
    from mmall_product
    ORDER BY id asc
  </select>

</mapper>