<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bookmall.dao.RatingMapper" >
  <resultMap id="BaseResultMap" type="com.bookmall.pojo.Rating" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="order_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="reviewee_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="reviewer_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="score" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="review" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, reviewee_id, reviewer_id, score, review, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from mmall_rating
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mmall_rating
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bookmall.pojo.Rating" >
    insert into mmall_rating (id, order_id, reviewee_id, reviewer_id, score, review, create_time)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{revieweeId,jdbcType=INTEGER}, #{reviewerId,jdbcType=INTEGER},
            #{score,jdbcType=INTEGER}, #{review,jdbcType=VARCHAR}, now())
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bookmall.pojo.Rating" >
    update mmall_rating
    set id = #{id,jdbcType=INTEGER},
        order_id = #{orderId,jdbcType=INTEGER},
        reviewee_id = #{revieweeId,jdbcType=INTEGER},
        reviewer_id = #{reviewerId,jdbcType=INTEGER},
        score = #{score,jdbcType=INTEGER},
        review = #{review,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>