@import "../../Assets/default.scss";

.bookDiv {
  display: flex;
  width: 80%;
  height: 220px;
  background-color: white;
  border-bottom: 1px solid #eee;
  // box-shadow: 5px 5px 6px #ddd;
  // border-radius: 10px;
  color: #0F1111;
  margin: 0 auto;
  padding: 10px;
  .bookImg {
    width: 150px;
    height: 200px;
    margin: 20px;
    background-size: 100% 100%;
    border-radius: 5px;
    .bookcover {
      width: 100%;
      height: 100%;
    }
  }
  .bookInfo {
    flex-grow: 1;
    margin: 25px 20px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    .bookTitle {
      font-size: 20px;
      line-height: 22px;
      &:hover{
        color:#e07a5f;
      }
    }
    .bookAuthor {
      font-size: 15px;
      margin: 10px 0;
      // font-weight: bolder;
    }
    .bookSection {
      font-size: 15px;
      margin: 10px 0;
    }
    .bookPrice {
      font-size: 22px;
      width: 250px;
      // font-weight: bold;
      color: rgb(219, 39, 39);
      margin: 10px 0;
    }
  }
  .started {
    position: absolute;
    right: 20px;
    top: 80px;
    height: 25px;
    width: 25px;
    opacity: 0.6;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}
