@import "../../Assets/default.scss";
.container{
  width: 100%;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-gap: 1%;
  font-family: Arial, Helvetica, sans-serif;
}
.bookDiv {
  height: 330px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  &:hover{
    box-shadow: 0px 0px 4px #eee;
  }

    .bookTitle {
      font-size: 14px;
      height: 40px;
      overflow:hidden;
      text-overflow:ellipsis;
    }
    .bookcover {
      align-items: center;
      height: 180px;
      width: auto;
      margin: 5px auto;
    }
    .bookAuthor {
      font-size: 13px;
      // margin: 5px 0 2px;
      // font-weight: bolder;
    }
    .bookSection {
      font-size: 13px;
      line-height: 18px;
    }
    .bookPrice {
      font-size: 20px;
      // font-weight: bold;
      color: rgb(219, 39, 39);
      margin: 10px 0;
    }
  // }
  .bookBtn {
    padding: 20px;
    align-self: flex-end;
    .btn {
      display: block;
      margin: 10px 0;
      width: 200px;
      height: 40px;
      border-radius: 10px;
      border: 3px solid $uciBlue;
      background-color: white;
      color: $uciBlue;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
    }
    .btn:hover {
      background-color: $uciBlue;
      color: white;
      cursor: pointer;
    }
  }
  .started {
    width: 25px;
    height: 25px;
    opacity: 0.8;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}
